:root {
  --primary-color: #D60059; /* Cor vermelha do cabeçalho */
  --secundary-color: #B3004A; /* Cor do menu principal */
  --text-color: white;
  --dark-text-color: black; /* Cor para texto em fundos claros */
  --icon-color: white;
  --light-background-color: white;
  --gray-background-color: #d8d8d8;
  --dark-background-color: black;
}



/* Fundo da página */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--gray-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caixa de login */
.login-box {
  background-color: var(--light-background-color);
  padding: 40px;
  border-radius: 5px;
  width: 320px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* Título da marca */
.logo {
  color: var(--primary-color);
  font-size: 32px;
  text-align: center;
  font-weight: 800;
  margin: 0;
}

/* Subtítulo abaixo da logo */
.subtitulo {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--dark-text-color);
}

/* Inputs */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Link de esqueci a senha */
.forgot-password {
  text-align: center;
  margin-top: 15px; /* adiciona espaço acima do link */
}

.forgot-password a {
  font-size: 13px;
  color: var(--dark-text-color);
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secundary-color);
}
