:root {
  --primary-color: #D60059; /* Cor vermelha do cabeçalho */
  --secundary-color: #B3004A; /* Cor do menu principal */
  --text-color: white;
  --dark-text-color: black; /* Cor para texto em fundos claros */
  --icon-color: white;
  --light-background-color: white;
  --gray-background-color: #d8d8d8;
  --dark-background-color: black;
}



/* Fundo */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--gray-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.cadastro-box {
  background-color: var(--light-background-color);
  padding: 40px;
  border-radius: 5px;
  width: 380px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* Marca */
.logo {
  color: var(--primary-color);
  font-size: 32px;
  text-align: center;
  font-weight: 800;
  margin: 0;
}

/* Subtítulo */
.subtitulo {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--dark-text-color);
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--dark-text-color);
}

/* Campos */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Botão */
button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secundary-color);
}

/* Link para login */
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  font-size: 14px;
  color: var(--dark-text-color);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.erro-senha {
  font-size: 13px;
  margin: -10px 0 15px;
  text-align: center;
  color: red;
}

.senha-info {
  font-size: 12px;
  color: var(--dark-text-color);
  margin: -10px 0 15px;
  display: block;
}

.requisitos-senha {
  margin-top: 4px; /* Menor espaço acima */
  margin-bottom: 12px; /* Pequeno espaço antes do "Confirmar senha" */
  font-size: 0.85em;
  padding-left: 2px;
}

.requisitos-senha p {
  margin: 2px 0; /* Reduz espaçamento entre os itens */
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
